<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="VectorEndPoint" value="https://YOUR_URL.vectorlmsedu.com/graphql" />
        <add key="VectorTokenEndPoint" value="https://YOUR_URL/oauth/token"/>
        <add key="ClientID" value="YOUR_CLIENT_ID" />
        <add key="ClientSecret" value="YOUR_SECRET" />
    </appSettings>
</configuration>
