<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="VectorEndPoint" value="https://colostatestudents-co.vectorlmsedu.com/graphql" />
        <add key="VectorTokenEndPoint" value="https://colostatestudents-co.vectorlmsedu.com/oauth/token"/>
        <add key="ClientID" value="8hbQN9krwhvn" />
        <add key="ClientSecret" value="CYL5hrPivGeF" />
    </appSettings>
    <!--<appSettings>
        <add key="VectorEndPoint" value="https://YOUR_URL.vectorlmsedu.com/graphql" />
        <add key="VectorTokenEndPoint" value="https://YOUR_URL/oauth/token"/>
        <add key="ClientID" value="YOUR_CLIENT_ID" />
        <add key="ClientSecret" value="YOUR_SECRET" />
    </appSettings>-->
</configuration>
